.search {
    width: 100%;
    height: 100vh;
    background-color: aqua;

    &__map {
        width: 100%;
        height: 100%;
    }
}

.text__field {
    &__form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 10px 0;
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
    }

    &__label {
        width: 50%
    }

    // align-items: center;
    &__input {
        padding: 8px 16px;
        width: 45%;
    }
}



.sidebar {
    background-color: #ffffff;
    // border: 1px solid black;
    z-index: 1000;
    box-shadow: .8px .5px 0px #fafafa;
    transition: .2s;

    &__left {
        width: 18%;
        min-width: 300px;
        top: 100px;
        height: 70%;
        position: fixed;

        &__click {
            position: absolute;
            background-color: #ffffff;
            border-radius: 0 5px 5px 0;
            width: 15px;
            height: 50px;
            right: -15px;
            top: 50%;
            cursor: pointer;

        }
    }

    &__right {
        top: 50px;
        height: 90%;
        right: 0;
        position: fixed;
        width: 15%;

        &__click {
            position: absolute;
            background-color: #ffffff;
            border-radius: 5px 0 0 5px;
            width: 15px;
            height: 50px;
            left: -15px;
            top: 50%;
            cursor: pointer;

        }
    }
}