<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Roboto', sans-serif;

        }
    </style>
</head>

<body style="margin: 0;padding: 0;">
    <table width="540px" style="margin-left: auto;margin-right: auto;margin-bottom: 50px;" cellpadding="0"
        cellspacing="0">
        <tr>
            <td colspan="2" align="center" style="padding: 40px 0 30px 0;">
                <img src="http://d2ckak7af1omc2.cloudfront.net/1.png" width="300" height="101" style="display: block;">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2
                    style="max-width: 540px;text-align: center;padding: 0;margin-bottom: 40px;margin-left: auto;margin-right: auto;font-size: 34px;color: #000851;">
                    Gratulacje, Udało Ci się pozyskać nowego konsumenta!
                </h2>
            </td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Imię</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Otto</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Nazwisko</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Thornton</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Email</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">abcdef@interia.pl</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Numer telefonu</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">123123123</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Data zlecenia</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">4 stycznia 2020</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Nazwa firmy</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">-</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">NIP</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">-</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Cena</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">1245 PLN</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Liczba palet</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">23</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Typ palety</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">EUR-EPAL</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Waga</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">2.5 t</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Maksymalna wysokość</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">1.9 m</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Trasa</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;max-width: 400px;word-break: break-all;
            word-break: break-word;">
                https://www.google.com/maps/dir/?api=1&origin=54.162133,17.488343&waypoints=51.355172,12.394919&destination=50.111546,8.688002&travelmode=driving
            </td>
        </tr>
    </table>
    <table width="540px" style="margin-left: auto;margin-right: auto;margin-bottom: 50px;" cellpadding="0"
        cellspacing="0">
        <tr>
            <td colspan="2">
                <h3 style="width: 300px;text-align: left;">Pojazdy</h3>
            </td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Nazwa pojazdu</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Cena</td>
        </tr>
        <tr>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">Pojazd A</td>
            <td style="border-top:1px solid #dee2e6;padding: 12px;color: #000851;">1245 PLN</td>
        </tr>
    </table>
    <table style="color: white !important;background: rgba(51,51,51,1);padding-top: 20px;padding-bottom: 20px;"
        width="100%">
        <tr>
            <td align="center">
                <h3 style="width: 300px;text-align: left;">Kontakt</h3>
                <ul style="list-style-type: none; width: 300px;text-align: left; font-size: 14px;">
                    <li>(+48) 608 624 531</li>
                    <li>admin@teachtechservice.com</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td align="center">
                <h3 style="width: 300px;text-align: left;">Dane firmy</h3>
                <ul style="list-style-type: none; width: 300px;text-align: left; font-size: 14px;">
                    <li>Teach Tech Service Marcin Warzybok</li>
                    <li>NIP: 6793184304</li>
                    <li>REGON: 383274960</li>
                    <li>ul. Bieżanowska 258B, 30-856, Kraków</li>
                </ul>
            </td>
        </tr>
    </table>
</body>

</html>